*.exe
*.test
*.prof
user-sync
*.iml
*.linux
sync
dbsync
out.txt
server/abc.log
*.log
dbreplic
.idea
.DS_Store
go-log-client
go-log-server
go-tail-web
go-ip-allow

*.bin
*.bin.bz2
sqlHistory.json

src/sqlweb/sqlweb
src/sqlweb/bindata.go
src/redisweb/redisweb
src/redisweb/bindata.go
